.filterSelected {
    background-color: var(--colorSecondary) !important;
    color: #ffffff !important;
    border: 2px solid #005096 !important;
    position: relative;
    overflow: hidden;
    font-family: var(--fontfamily);
}

.filterSelected::after {
    content: "\2713";
    display: block;
    height: 4rem;
    width: 4rem;
    margin: 0 6px 0 0;
    position: absolute;
    font-size: 4rem;
    right: -1.3rem;
    top: -1.1rem;
    opacity: 60%;
}

.filterBtn {
    background-color: #f8f9fa;
    color: #005999;
    font-size: 1.0rem;
    border: 2px solid #005096;
    text-transform: none;
    font-weight: bold;
    border-radius: 20px;
    height: 3rem;
    padding: 0 20px;
    font-family: var(--fontfamily);
    margin: 0.2rem;
}

.filterBtn:hover {
    cursor: pointer;
}

.dateFilter {
width: 100%;
    border-radius:  0 0  20px 20px ;


}

.uk-list-striped>:nth-of-type(odd){
    border:none;
}

.listWrapper li > * {
    pointer-events: none;
}

.uk-list .reservation  {
    padding: 1rem 2rem;
    background-color: var(--colorBackgroundGrey);
    margin: 0 0 6px 0;

}
li.reservation.preparedAll{
    padding: 1rem 2rem;
    background-color: var(--colorBackgroundGrey);
    margin: 0 0 6px 0;
}

.timeFilter {
    border-bottom: 1px solid var(--colorBackgroundGrey);
    padding: 0 0 1rem 0;
}

.filterWrapper {
    justify-content: center;
    text-align: center;
}

h2, p {
    margin: 0px;
}

.departments {
    margin-top: 0.3rem;
}

.departmentLabel {
    margin: 0 0.2rem 0 0;
    padding: 0.4rem;
    background-color: var(--colorSecondary);
    color:#f8f9fa !important;
    border-radius: 0.3rem;
}



.uk-navbar span {
    color: white !important;
    font-size: 1.5rem;
}


#Icon_awesome-clipboard-list, #Icon_awesome-shopping-bag {

    width: 2rem;
    height: 2rem;
}


/*donelist*/
#doneListToogle {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
}

.doneListArrow {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .4s ease-in;
    fill: green;
}

.doneListWrapper .doneList.uk-list {
    margin-top: 0;
}

#doneListHeading {
    margin-left: 1rem;
    margin-right: -2rem;
    padding-bottom: 0.5rem;
}

.doneListArrow {
    margin-left: 3rem;
    font-weight: bold;
}

/*after to provide space for footer*/
#filterableList {
    margin-bottom: 50px;
}


/*Quantitiy Icon */

.listIcons{
    display: flex;
    flex-direction: row;
}
.reservation .quantityCircle, .reservation .modeCircle{
    border-radius: 50%;
    background-color: var(--colorSecondary);
    height: 42px;
    width: 42px;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.reservation .uk-flex .modeCircle{
    margin-top: 5px;
}
.modeCircle svg{
    fill: #fff;
}

.quantityIcon{
    background-image: url("../image/quantityIcon.svg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 80%;
    height: 85%;
}
.modeIcon{
    /*background-image: url("../image/cliboard.svg");*/
    width: 88%;
    height: 88%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
}

.quantityIcon{
    position: relative;
}
.quantityIcon p{
    font-family: 'Open Sans';
    font-weight: bold;
    width: 18px;
    text-align: center;
    position: absolute;
    top: 13px;
    left:2px;
    color: var(--colorSecondary) !important;
    font-size: 12px;
}

.largeReservation{
    background-color: #e76f51 !important;
}
.mediumReservation{
    background-color: #f4a261 !important;
}


.listDateandDep{
    display: flex;
    flex-direction: column;
    margin: 5px 0 0 0px;
}

@media (max-width: 520px) {
    .reservation .modeCircle {
        margin-top: 0px;
    }
}

