/* FILTER BUTTON*/
.filterSelected {
    background-color: var(--colorSecondary) !important;
    color: #ffffff !important;
    border: 2px solid #005096 !important;
    position: relative;
    overflow: hidden;
    font-family: var(--fontfamily);
}

.filterSelected::after {
    content: "\2713";
    display: block;
    height: 4rem;
    width: 4rem;
    margin: 0 6px 0 0;
    position: absolute;
    font-size: 4rem;
    right: -1.3rem;
    top: -1.1rem;
    opacity: 60%;
}

.filterBtn {
    background-color: #f8f9fa;
    color: #005999;
    font-size: 1.0rem;
    border: 2px solid #005096;
    text-transform: none;
    font-weight: bold;
    border-radius: 20px;
    height: 3rem;
    padding: 0 20px;
    font-family: var(--fontfamily);
    margin: 0.2rem;
}

.filterBtn:hover {
    cursor: pointer;
}

.dateFilter {
    width: 100%;
    border-radius: 0;
    margin-top: -0.05rem;
}

.timeFilter {
    padding: 0 0 0.2em 0;
}

.filterWrapper {
    justify-content: center;
    text-align: center;
    margin-top: 10px;
    padding: 0.2rem;
}

/* Filter einklappen*/
.aufklappen {
    margin: 0px auto 0px;
    width: 100%;
    padding: 0.6rem;
    background-color: var(--colorSecondary);
    display: flex;
    justify-content: center;
}

.aufklappen p {
    color: white !important;
}

.filterButtonWrapper {
    background-color: var(--filterWrapperColor);
    margin-bottom: -10px;
    margin-top: 20px;
}

@media (max-width: 640px) {

    .filterButtonWrapper {
        width: 100%;
        margin-top: 0;
    }

    .filterWrapper {
        margin-bottom: -0.4rem;
        padding: 0rem 0;
    }

    .datefilter {
        margin-bottom: 10px;
    }
}

.timeFilter {
    padding-bottom: 0.3rem;
}

.showFilterArrow, .doneListArrow {
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .4s ease-in;
    fill: white;
    margin-left: 10px;
    position: relative;
}

.doneListArrow{
    margin-left:-20px;
}
.allDoneMessage{
    background-color: var(--preparedAllColor);
    padding: 8px 0;
    font-weight: bold;
}

/*release reservation button*/
.releaseResButton {
    background-color: #007f5f;
    color: #f8f9fa;
box-shadow: none;
    border: none;
    cursor: pointer;
    padding: 8px 14px;

}

.listDateandDep {
    display: flex;
    flex-direction: column;
    margin: 5px 0 0 0px;
}

/*release popup*/
#release-reservation-popup li {
    padding: 5px 0;
}

#feedbackDetails {
    max-height: 250px;
    overflow-y: scroll;
}

.releaseIconError, .releaseIconSuccess {
    border: 1px solid;
    border-radius: 50%;
    min-width: 15px;
    max-width: 15px;
    min-height: 15px;
    max-width: 15px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.releaseIconError svg, .releaseIconSuccess svg {
    width: 60%;
    height: 60%;
}

.releaseIconError {
    border-color: var(--colorAlert);
}

.releaseIconSuccess {
    border-color: var(--colorSuccess);
}


@media (max-width: 520px) {
    .reservation .modeCircle {
        margin-top: 0px;
    }
}


/*lucky wheel*/
.rule {
    margin: 0 50px 0 0;
}
.rule__content {
    display: flex;
}
.rule__color {
    width: 50px;
    height: 50px;
    margin: 0 20px 20px 0;
}
.rule .color-1 {
    background-color: #16a085;
}
.rule .color-2 {
    background-color: #2980b9;
}
.rule .color-3 {
    background-color: #34495e;
}
.rule .color-4 {
    background-color: #f39c12;
}
.rule .color-5 {
    background-color: #d35400;
}
.rule .color-6 {
    background-color: #c0392b;
}
.wheel {
    width: 312px;
    height: 312px;
    border-radius: 50%;
    border: solid 6px #fff;
    box-shadow: 0 4px 9px 0 rgba(0, 0, 0, 0.1);
    position: relative;
    display: none;
}
.wheel__inner {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    transition: cubic-bezier(0.19, 1, 0.22, 1) 5s;
}
.wheel__sec {
    position: absolute;
    top: 0;
    left: 62px;
    width: 0;
    height: 0;
    border: solid;
    border-width: 150px 88px 0;
    border-color: transparent;
    transform-origin: 50% 100%;
}
.wheel__sec:nth-child(1) {
    border-top-color: #16a085;
}
.wheel__sec:nth-child(2) {
    border-top-color: #2980b9;
    transform: rotate(60deg);
}
.wheel__sec:nth-child(3) {
    border-top-color: #34495e;
    transform: rotate(120deg);
}
.wheel__sec:nth-child(4) {
    border-top-color: #f39c12;
    transform: rotate(180deg);
}
.wheel__sec:nth-child(5) {
    border-top-color: #d35400;
    transform: rotate(240deg);
}
.wheel__sec:nth-child(6) {
    border-top-color: #c0392b;
    transform: rotate(300deg);
}
.wheel__text {
    margin: 70px 0 0 70px;
}
.wheel__arrow {
    width: 70px;
    height: 70px;
    background: #fff;
    position: absolute;
    top: 121px;
    left: 115px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Open sans', sans-serif;
}
.wheel__arrow::after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border: solid;
    border-width: 0 10px 20px;
    border-color: transparent;
    border-bottom-color: #fff;
    top: -15px;
    left: 25px;
}
.wheel__button {
    width: 60px;
    height: 60px;
    background-color: lightgray;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.3s;
    font-weight: 600;
    font-size: 18px;
}
.wheel__button:hover {
    color: #27ae60;
}
.wheel__button:active {
    border: solid 3px rgba(0, 0, 0, 0.1);
    font-size: 15px;
}
.popup {
    position: fixed;
    width: 30vw;
    top: 0;
    left: 50%;
    transform: translate(-50%, -110%);
    background: #fff;
    box-shadow: 0 4px 9px 0 rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 20px;
    transition: all 0.5s;
    opacity: 0;
}
.popup.active {
    transform: translate(-50%, 0);
    opacity: 1;
}
.popup__emotion {
    color: #f39c12;
    text-align: center;
    font-size: 30px;
    margin: 0 0 25px 0;
}
.popup__note {
    text-align: center;
}
.congratulation {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.2);
    display: none;
}
.congratulation__container {
    width: 40vw;
    padding: 30px;
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.congratulation__close {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #c0392b;
    cursor: pointer;
    transition: all 0.5s;
}
.congratulation__close:hover {
    transform: rotate(360deg);
}
.congratulation__emotion {
    color: #f39c12;
    text-align: center;
    margin: 0 0 20px 0;
}
.congratulation__note {
    text-align: center;
}
.showWheel{
    background-color: var(--colorSuccess);
    color: #fff;
    margin: 5px 0 0 0;
}
.blockquote p{
    font-size: 26px;
    font-family: "Playfair Display", serif;
}

