:root{
    /*font-size: 62.5%;
    1.5rem = 15px*/
    --fontSize: 1rem;
    --fontfamily: "Helvetica Neue", Helvetica, Arial, sans-serif;
    --FHlightblue: #CDDEEB;
    --FHdefaultblue: #005096;
}
/*main*/
main{
    margin-bottom: var(--footerHeight);
}

/*footer*/
footer{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: var(--footerHeight);
    background-color: #fff;
}

h1,h2,h3,h4,h5,p, span, button, a{
    font-family: var(--fontfamily);
}

html, body {
    overflow-x: hidden;
  }
  body {
    position: relative
  }


.blue {
    background-color: #005096;
    color: white;
}

.blue-40 {
    background-color: #00509633;
}

.blue-20 {
    background-color: #00509633;
}


.grid-33 {
    width: 33.33%;
}

.grid-50 {
    width: 50%;
}

.grid-100 {
    width: 100%;
}


 /* Style for Checklist */

.checkListbutton {
    width: 30;
    left: -20;
    position: relative;
    top: 5px;
}

.grid-100 {
    width: 100%;
}

.right {
    float: right;
}

.checklist-checkbox {
    left: 123px; 
    width: 20px;
    height: 20px;
    border: 1px solid #005096;
    border-radius: 50%;
    background-color: #CDDEEB;

}

.spacer{
    height: 20px;
}

.custom_HR{
    border-left: 5px solid #005096;
    
}

.nospace-up{
    margin-top: 0px;
}

/* Start Swipebox Style  */
.Swipe_container {
    position: relative;
    background: lightgray;

  }
  
  .swipe_box {
    position: relative;
    background: white; 
      width: 98%;
      height: auto;
    left: 0;
/* 
    border: 0px solid red;
      border-radius: 0px 20px 20px 0px; */
  }
  .swipe_box_back {
    position: absolute;
    background: rgb(204, 204, 204); 
      width: 100%;
      height: 100%;
    left: 0;
/* 
    border: 0px solid red;
      border-radius: 0px 20px 20px 0px; */
  }
  
  .swipebox_Object {
      padding-right: -10px;
      /* border: 0px solid red;
      border-radius: 0px 20px 20px 0px; */
      box-shadow:10px 5px 12px #00000030 ;
  }


  .btn-checklist {
    position: relative;
    color: white ;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    width: 110px;
    height:100%;
    margin:0;

  }
  .btn-checklist {
    position: relative;
    color: white !important;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    width: 110px;
    height:100%;
    margin:0;

  }
  a.link2{
    color: white !important;
  }
  .btn-checklist:hover {
      /* scale up slowly and add inner shadow*/
        transform: scale(1.1);
        transition: all 0.4s ease-in-out;
        box-shadow: 5px 5px 20px #0000009c;
        margin:-1px;
        padding:1px;

  }
  .center-all {
    position: relative;
    top: 40%;
  }


  /* End Swipebox Style */

.bg-orange {
    background-color: #d49a06;
}
.bg-blue {
    background-color: #005096;
}

.uk-close {
    color: #999;
    left: 95%;
    transition: .1s ease-in-out;
    transition-property: color,opacity;
}

.uk-navbar{
    background-color: #005096 !important;
}
.uk-navbar span {
    color:white !important;
    font-size: 1.5rem;
}


*---LOADER---*/
 .loader-horizontal {
     height: 50px;
     width: 100%;
     display: flex;
     justify-content: center;
     align-items: center;
     background-color: #f8f9fa;
 }
 .loader-horizontal__dot {
     width: 10px;
     height: 10px;
     background: var(--FHdefaultblue);
     border-radius: 100%;
     float: left;
     margin-right: 6px;
     animation: bounce 1.8s infinite;
 }
 .loader-horizontal__dot:first-child {
     animation-delay: 0.1s;
 }
 .loader-horizontal__dot:nth-child(2) {
     animation-delay: 0.3s;
 }
 .loader-horizontal__dot:nth-child(3) {
     animation-timing-function: ease;
     animation-delay: 0.5s;
 }
 @-webkit-keyframes bounce {
     0%, 100% {
         opacity: 1;
     }
     60% {
         opacity: 0;
     }
 }

 /* in preparation and prepared overview list items */
 /*important hier leider notwendig bis bessere lösung wegen uikit list style*/
 .listWrapper .uk-list .inPreparation{
     background-color: var(--inPreparationColor);
 }
 .listWrapper .uk-list .preparedAll{
     background-color: var(--preparedAllColor);
 }

 /*scan search module*/
 #scanSearch{
     display: flex;
     flex-direction: column;
     align-items: center;
 }
 .selectWrapper{
     display: flex;
     flex-direction: column;
     align-items: center;
     width: 100%;
 }
 .selectWrapper select{
     width: 90%;
     margin: 15px 0;
 }
 .selectResult{
    text-align: center;
    width: 90%;
    padding: 15px;
 }