:root{
    /*font-size: 62.5%;
    1.5rem = 15px*/
    --fontSize: 1rem;
    --fontfamily: "Helvetica Neue", Helvetica, Arial, sans-serif;
    --FHlightblue: #CDDEEB;
    --FHdefaultblue: #005096;
}

h1,h2,h3,h4,h5,p, span, button, a{
    font-family: var(--fontfamily);
}

html, body {
    overflow-x: hidden;
  }
  body {
    position: relative
  }


.blue {
    background-color: #005096;
    color: white;
}

.blue-40 {
    background-color: #00509633;
}

.blue-20 {
    background-color: #00509633;
}


.grid-33 {
    width: 33.33%;
}

.grid-50 {
    width: 50%;
}

.grid-100 {
    width: 100%;
}


 /* Style for Checklist */

.checkListbutton {
    width: 30;
    left: -20;
    position: relative;
    top: 5px;
}

.grid-100 {
    width: 100%;
}

.right {
    float: right;
}

.checklist-checkbox {
    left: 123px; 
    width: 20px;
    height: 20px;
    border: 1px solid #005096;
    border-radius: 50%;
    background-color: #CDDEEB;

}

.spacer{
    height: 20px;
}

.custom_HR{
    border-left: 5px solid #005096;
    
}

.nospace-up{
    margin-top: 0px;
}

/* Start Swipebox Style  */
.Swipe_container {
    position: relative;
    background: lightgray;

  }
  
  .swipe_box {
    position: relative;
    background: white; 
      width: 98%;
      height: auto;
    left: 0;
/* 
    border: 0px solid red;
      border-radius: 0px 20px 20px 0px; */
  }
  .swipe_box_back {
    position: absolute;
    background: rgb(204, 204, 204); 
      width: 100%;
      height: 100%;
    left: 0;
/* 
    border: 0px solid red;
      border-radius: 0px 20px 20px 0px; */
  }
  
  .swipebox_Object {
      padding-right: -10px;
      /* border: 0px solid red;
      border-radius: 0px 20px 20px 0px; */
      box-shadow:10px 5px 12px #00000030 ;
  }


  .btn-checklist {
    position: relative;
    color: white ;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    width: 110px;
    height:100%;
    margin:0;

  }
  .btn-checklist {
    position: relative;
    color: white !important;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    width: 110px;
    height:100%;
    margin:0;

  }
  a.link2{
    color: white !important;
  }
  .btn-checklist:hover {
      /* scale up slowly and add inner shadow*/
        transform: scale(1.1);
        transition: all 0.4s ease-in-out;
        box-shadow: 5px 5px 20px #0000009c;
        margin:-1px;
        padding:1px;

  }
  .center-all {
    position: relative;
    top: 40%;
  }


  /* End Swipebox Style */

.bg-orange {
    background-color: #d49a06;
}
.bg-blue {
    background-color: #005096;
}

.uk-close {
    color: #999;
    left: 95%;
    transition: .1s ease-in-out;
    transition-property: color,opacity;
}