@font-face {
    font-family: 'Helvetica Neue';
    src: url(MIME+BASE64_STRING) format('TYPE_OF_FONT');
}

:root {
    /*font-size: 62.5%;
      1.5rem = 15px*/
    --fontSize: 1rem;
    --fontfamily: "Helvetica Neue", Helvetica, Arial, sans-serif;
    --FHlightblue: #cddeeb;
    --FHdefaultblue: #005096;
    --inPreparationColor: rgba(14, 151, 0, 0.3);
    --preparedAllColor: rgba(14, 151, 0, 0.6);

    --colorBackgroundClean: #f8f9fa;
    --colorBackgroundGrey: #e3e5e6;
    --colorPrimary: #005096;
    --colorSecondary: #669bc1;
    --colorAlert: darkred;
    --colorWarning: orange;
    --colorSuccess: darkgreen;
    --textColor: #212529;
}

body {
    height: 100%;
    background-color: var(--colorBackgroundClean);
}

/*main*/
main {
    margin-bottom: 70px;
}

/*footer*/
footer {
    position: fixed;
    bottom: -8px;
    left: 0;
    width: 100%;
    height: 70px;
}

h1, h2, h3, h4, h5, p, span, button, a {
    font-family: var(--fontfamily);
}

h1, h2, h3, h4, h5, p, dt, li, dd, a {
    color: var(--textColor) !important;
}

.login .uk-card-title {
    color: #333 !important;
}

.login p {
    color: #333 !important;
}

.login a {
    color: #1e87f0 !important;
}

html, body {
    overflow-x: hidden;
    height: 100%;
}

.colorPrimary {
    background-color: var(--colorPrimary);
    color: white;
}

.colorSecondary {
    background-color: var(--colorSecondary);
    color: white;
}
.colorAlert{
    border-color: var(--colorAlert);
}
.colorWarning{
    border-color: var(--colorWarning);

}
.colorSuccess{
    border-color: var(--colorSuccess);

}

.textColor {
    color: var(--textColor);
}

.colorBackgroundGrey {
    background-color: var(--colorBackgroundGrey);
}

body {
    position: relative;
}

.grid-33 {
    width: 33.33%;
}

.grid-50 {
    width: 50%;
}

.grid-100 {
    width: 100%;
}

/* Style for Checklist */
.checklist {
    padding: 0 5px;
}

.checkListbutton {
    width: 30px;
    left: -20px;
    position: relative;
    top: 5px;
    background-color: var(--colorBackgroundGrey);
}

.grid-100 {
    width: 100%;
    background-color: var(--colorBackgroundGrey);
}

.spacelist {
    padding: 1rem 2rem;
    background-color: var(--colorBackgroundGrey);
    margin: 0 0 6px 0;
}

.right {
    float: right;
}

.checklist-checkbox {
    left: 123px;
    width: 20px;
    height: 20px;
    border: 1px solid var(--colorPrimary);
    border-radius: 50%;
    background-color: var(--colorBackgroundGrey);
}

.spacer {
    height: 20px;
}

.custom_HR {
    border-left: 5px solid var(--colorPrimary);
}

.nospace-up {
    margin-top: 0px;
}

/* Start Swipebox Style  */
.Swipe_container {
    position: relative;
    background: var(--colorBackgroundGrey);
}

.swipe_box {
    position: relative;
    background: var(--colorBackgroundGrey);
    width: 98%;
    height: auto;
    left: 0;
    /*
      border: 0px solid red;
        border-radius: 0px 20px 20px 0px; */
}

.swipe_box_back {
    position: absolute;
    background: var(--colorBackgroundGrey);
    width: 100%;
    height: 100%;
    left: 0;
    /*
      border: 0px solid red;
        border-radius: 0px 20px 20px 0px; */
}

.swipebox_Object {
    padding-right: -10px;
    /* border: 0px solid red;
        border-radius: 0px 20px 20px 0px; */
    box-shadow: 10px 5px 12px #00000030;
}

.btn-checklist {
    position: relative;
    color: var(--colorBackgroundClean) !important;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    width: 25%;
    height: 100%;
    margin: 0;
}

a.link2 {
    color: var(--colorBackgroundClean) !important;
}

.btn-checklist:hover {
    /* scale up slowly and add inner shadow*/
    transform: scale(1.1);
    transition: all 0.4s ease-in-out;
    box-shadow: 5px 5px 20px #0000009c;
    margin: -1px;
    padding: 1px;
}

.center-all {
    position: relative;
    top: 40%;
}

/*remove pointer events of icon to get always the swipe button on click*/
.swipe_box_back .uk-icon {
    pointer-events: none;
}

/* End Swipebox Style */

#forward.uk-button,
#back.uk-button {
    color: #f8f9fa !important;
}

#forward.uk-button:hover,
#back.uk-button:hover {
    background-color: var(--colorSecondary);
}

.bg-orange {
    background-color: #d49a06;
}

.uk-close {
    color: var(--colorBackgroundGrey);
    left: 95%;
    transition: 0.1s ease-in-out;
    transition-property: color, opacity;
}

.uk-navbar {
    background-color: var(--colorPrimary) !important;
}

.uk-navbar span {
    color: #f8f9fa !important;
    font-size: 1.5rem;
}

/*---LOADER---*/
.loader-horizontal {
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader-horizontal__dot {
    width: 10px;
    height: 10px;
    background: var(--colorPrimary);
    border-radius: 100%;
    float: left;
    margin-right: 6px;
    animation: bounce 1.8s infinite;
}

.loader-horizontal__dot:first-child {
    animation-delay: 0.1s;
}

.loader-horizontal__dot:nth-child(2) {
    animation-delay: 0.3s;
}

.loader-horizontal__dot:nth-child(3) {
    animation-timing-function: ease;
    animation-delay: 0.5s;
}

@-webkit-keyframes bounce {
    0%,
    100% {
        opacity: 1;
    }
    60% {
        opacity: 0;
    }
}

/* in preparation and prepared overview list items */
/*important hier leider notwendig bis bessere lösung wegen uikit list style*/
.listWrapper .uk-list .inPreparation {
    background-color: var(--inPreparationColor);
}

.listWrapper .uk-list .preparedAll {
    background-color: var(--preparedAllColor);
}

/*scan search module*/
#scanSearch {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--textColor) !important;
}

.selectWrapper select {
    width: 90%;
    margin: 15px 0;
}

.select2 {
    width: 50% !important;
}

.selectWrapper {
    align-items: center;
    width: 100%;
    margin: 2rem 0;
}

.selectWrapper label {
    font-weight: bold;
}

.selectResultWrapper {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.selectResultWrapper .innerbox p, .selectResultWrapper .innerbox h2 {
    color: #f8f9fa !important;
}

.selectResultWrapper p {
    color: var(--textColor);
}

/*Select Darkmode*/
.select2-container--default .select2-selection--single .select2-selection__arrow b {
    border-color: var(--textColor) transparent transparent transparent !important;
}

.select2 li, .select2-selection__placeholder {
    color: var(--textColor) !important;
}

.select2-container--default .select2-selection--single .select2-selection__rendered, .select2-search--dropdown, .select2-search__field {
    background-color: var(--colorBackgroundGrey);
    color: var(--textColor) !important;
}

.select2-results__option {
    text-align: center;
    background-color: var(--colorBackgroundGrey);
    color: var(--textColor);
}


/*SETTINGS PAGE*/
#settings {
    margin: 1rem 2rem 0 2rem;
}

#ds {
    margin: 1rem 0;
}

.departmentWrapper {
    margin: 0.5rem 0;
}

/*Toggle Button*/
#toggleBtn {
    width: 64px;
    height: 32px;
    background-color: gray;
    border-radius: 45px;
    position: relative;
}

#toggleBtn.light {
    justify-content: flex-end;
}

.handle {
    transition: all 0.2s ease-in;
    position: absolute;
    left: 4px;
    top: 4px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: lightgrey;
    display: flex;
    align-items: center;
    justify-content: center;
}

.light .handle {
    transform: translateX(calc(64px - 32px));
}

.handleInner {
    transition: all 0.2s ease-in;
    width: 75%;
    height: 75%;
    background-color: black;
    border-radius: 50%;
    position: relative;
}

.handleInner::after {
    position: absolute;
    right: -5%;
    border-radius: 0 50% 50% 0;
    content: "";
    display: block;
    width: 50%;
    height: 100%;
    background-color: lightgrey;
    transition: all 0.2s ease-in;
}

.light .handleInner::after {
    border-radius: 70%;
    height: 65%;
    width: 65%;
    transform: translate(5%, 0%);
}

/*---POPUP---*/
#datepicker-popup {
    width: 100%;
    text-align: center;
    font-family: var(--fontfamily);
    font-size: 1rem;
    margin: 0 0 8px 0;
    border: none;
    background-color: #e3e5e6;
    color: #212529;
    padding: 8px 0;
}

.uk-modal-dialog, .uk-modal-header, .uk-modal-footer {
    background-color: var(--colorBackgroundClean);
    color: var(--textColor) !important;
}

.datepicker.is-inline input {
    background-color: var(--colorBackgroundGrey) !important;
    color: var(--textColor) !important;
}

.datepicker.is-inline input::placeholder {
    color: var(--textColor) !important;
}

.datepicker__time {
    background-color: var(--colorBackgroundGrey);
    color: var(--textColor) !important;
}

.uk-textarea {
    background-color: var(--colorBackgroundGrey) !important;
    color: var(--textColor) !important;
}

.datepicker__time span {
    color: var(--textColor) !important;
}

.uk-textarea.active {
    background-color: var(--colorBackgroundGrey);
}

h3 span {
    color: var(--textColor) !important;
}

/*datepicker*/
.datepicker.is-inline, .datepicker__wrapper, .datpicker__container, .pickerWrapper {
    max-width: 100%;
}

/*--Mode Switch--*/
.modeSwitchWrapper {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
    box-shadow: rgba(0, 0, 0, 1) 0px 5px 15px;
}

.modeSwitchButton {
    padding: 10px 0;
    width: 50vw;
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color: var(--colorBackgroundClean);
    cursor: pointer;
}

.modeSwitchButton span {
    color: #495057;
    pointer-events: none;
}

.modeSwitchButton svg {
    fill: #495057;
    pointer-events: none;
}

.modeSwitchButton.modeSwitch-active {
    background-color: var(--colorPrimary);
}

.modeSwitchButton.modeSwitch-active span {
    color: #fff;
}

.modeSwitchButton.modeSwitch-active svg {
    fill: #fff;
}

/*--NAVBAR DROPDOWN--*/
.uk-navbar-right ul {
    color: #f8f9fa !important;
}

.uk-navbar-dropdown {
    background-color: var(--colorPrimary) !important;
    margin: 0;
}

.uk-navbar-nav a.uk-align-right {
    color: #f8f9fa !important;
    margin: 0;
}

.uk-navbar-nav a {
    color: #f8f9fa !important;
}

.uk-navbar-nav a:hover {
    color: #b2b3b3 !important;
}

/* NAV MENU */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    background-color: var(--colorPrimary);
}

li {
    list-style: none;
}

.nav-link {
    color: white !important;
    text-decoration: none;
}

.navbar {
    height: 55px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
    margin-bottom: 0px;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
    z-index: 999;
}

.nav-branding {
    font-size: 1.2rem;
    text-decoration: none;
    color: white !important;
}

.nav-branding:hover {
    text-decoration: none;
    cursor: default;
}

.hamburger {
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: white;
}

@media (max-width: 1024px) {
    .select2 {
        width: 100% !important;
    }

    .hamburger {
        display: block;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .navbar {
        height: 40px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 24px;
        margin-bottom: 0px;
    }

    .nav-menu {
        position: absolute;
        right: -100%;
        top: 40px;
        gap: 0;
        flex-direction: column;
        background-color: var(--colorPrimary);
        width: 100%;
        text-align: center;
        transition: 0.3s;
        margin-top: 0;
        z-index: 1 !important;
    }

    .nav-item {
        margin: 10px 0;
    }

    .nav-menu.active {
        right: 0;
    }
}

/* Settings Style */

.outerbox {
    background-color: #005096;
    display: flex;
    height: 180px;
    width: 180px;
    border-radius: 25px;
    justify-content: center;
    align-items: center;
}

.innerbox {
    background-image: url("../image/scanbars.svg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 88%;
    height: 88%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column !important;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    border-radius: 25px;
}

.innerbox h2 {
    margin: 0;
}

.logo{
    height: 3rem;
    margin-bottom: 20px;

}



